# Ignore pubilc image directories
#public/system

# ignore database.yml file
database.yml

# Ignore netbeans project direcotry
nbproject/


# Ignore Log and tmp files
tmp/

# ignore development.log file
log/development.log

