<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">


	<head>
    
    
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        
        <link rel="stylesheet" href="/assets/device.css"/>
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        
        
		<title>SVR FARMS - About Us</title>
        
        
           <script src="/assets/jquery.min.js"></script>
        
        
		<script>
	
	
			$(function() {
			
			
			 	var pull 		= $('#pull');
			 
			 
				var	menu 		= $('nav ul');
			

				$(pull).on('click', function(e) {
				
				
					e.preventDefault();
				
				
					menu.slideToggle();
				
				
				});


				$(window).resize(function(){
				
				
        			var w = $(window).width();
				
				
        			if(w > 320 && menu.is(':hidden')) {
					
					
        				menu.removeAttr('style');
					
					
        			}
				
				
    			});
			
			
			});
		
		
	</script>
    
    <style>
			
			
                body{
					
                        background:url(/assets/bgh.png) no-repeat;
						
						
                        background-size:1200px 100%;
						
                        
                    }
					
					
            </style>
	</head>

	<body>
    	
        	
		<div class="container">
        
        
			<nav class="clearfix">
    
    
                    				<ul class="clearfix">
        
        
					<li><a href="/home/main_home">Home</a></li>
            
            
					<li><a href="/home/aboutus_mobile">About Us</a></li>
            
            
					<li><a href="/home/services_mobile">Services</a></li>
            
            
					<li><a href="/home/contactus_mobile">Contact Us</a></li>
            
            
            
            
					<li><a href="/home/requirement_mobile">Post Requirement</a></li>	
           
            
				</ul>
        
        
				<a href="#" id="pull">SVR FARMS</a>
        
        
		</nav>
      

 
   
   
   		<div class="text-mobile">
        		 		 <h1>About Us</h1> 
        
              <p> SVR Group is founded and driven by industry professionals who have decades of experience in Real Estate Industry. Their rich Experience is articulated with the singular objective of providing a superlative Customer Service. It is Incorporated in 2003. Initially we were into Property developers and builders. Now we are also into Farm land business. We have successfully completed more than 30 projects in this field.</p>
            
            <h2>Our Mission :</h2>
            <p>
             SVR Group is dedicated to provide all agricultural related services like soil test, farming assistance, labour etc., and clear legal documents for all land, believe in transparency. We will strive to implement a long term relationship with our customers, based on safety, quality, timely service and an anticipation of their needs by involving Skilled Manpower, Top of the line Quality processes and equipment.
            </p>
            <h2>Our Values : </h2>
            
         <p>   Quality, Reliability and Integrity.</p>
            
            <h2>Our Team:</h2>
            
            <p>S. Venkatesh Reddy – B.E.<br />
            Adhinarayana – B.Sc, M.Sc.<br />
            Chandrashekhar- B.E.<br />
            Naveen – B.Com CA Final<br />
            Raghavendra – B. Com, MBA<br />
            Srinivas – B.E<br />
            Madhusudhan – B.E</p>
            
            
		</div>
        <hr />
        <div class="property-btn">
            
                
                            <span style="padding:10px;">Got a Property? list for Free</span>
                            
                            
                            <br />
                            
                            
                            <a href="/properties/new" class="property-select">
                            
                            
                                <button>List your Property</button>
                                
                                
                            </a>
                            
        		
            </div>
       
       
       		<footer>
            
            
               
          
                

                	<ol>
                    
                    
                    	<li><a href="/home/aboutus_mobile">About Us</a> </li>
                        
                        
                      <li><a href="/home/services_mobile">Services</a></li>
                        
                  
                         <li><a href="/home/contactus_mobile">Contact us</a> </li>
                        
                        
                         <li><a href="">Privacy Policy</a> </li>
                        
                        
                    </ol>
                
            
        	</footer>
            
            
            
 </div>
</body>
</html>