<div style="padding: 30px 30px 0px 40px;">
      
<b>Agriculture:</b><br>
<p>A rich variety of fruits and vegetables are cultivated in Hosur. The land is very fertile and there is significant access to fresh water as well as trained labor. Crops consist of tomatoes, cabbages, onions, mangoes, capsicum, carrot, cucumber, beans, coriander leaves, noolkol, and radish. It has a large vegetable wholesale market of 250 shops which caters south India with daily 100 lorry loads. Hosur and its surrounding area contribute to making the Krishnagiri district the largest producers of mangos in India.
  Hosur exports most of the roses from India. Amudagondapally village near Hosur is the home to TANFLORA, the largest exporter of roses to various European countries during Valentine's Day. The roses grown by the growers are collected and processed in the post harvest facilities of Tanflora, packed and marketed under the brand name of Tanflora, primarily exported to Europe, Australia, Middle East, Far East and Japan. Also due to increase in domestic market, good quantities of flowers are sold in domestic market mainly in Delhi, Hyderabad, and Chennai etc.</p><br>

<b>District Livestock Farm (Hosur):</b><br>
<p>Hosur Cattle Farm was started in 1824 by the British in an area of 1641.41 acres. The Tamil Nadu government maintains this green belt, along with a livestock research station focused on rare breeds of cattle, horse, poultry, sheep. A golf club is being planned by the district administration.
Central Sericultural Germplasm Resources Centre (CSGRC), Hosur:
The center was established in 1991 at hosur. It has a mandate to collect, protect and conserve mulberry and silkworm germplasm resources. This is also a National Repository Centre for mulberry germplasm and a National Active Germplasm Site (NAGS) for mulberry germplasm under NBPGR. Over 10 Scientists are engaged in collection and conservation activity. For exchange and dissection of information the center has developed on-line multiple query based Mulberry Germplasm Information System (MGIS) with retrieval facility></p><br>

<b>THALLY:</b><br>
<p>Thally is known as "Little England". This place is about 25 kms from Hosur. It is on the border of Tamil Nadu adjoining Karnataka. It is situated in valleys and cliffs. The climate is very pleasant and experiences cold and cloudy weather resembling England and therefore referred to as 'Little England' since the British days.</p><br>
<b>Anantapur district:</b><br>
<p>Anantapur District is a district in the Rayalaseema region of Andhra Pradesh, India. The district headquarters is located at Anantapur City. It is currently a part of the Red Corridor. As of 2011 Census, the district had a population of 40,83,315, of which 28.09% is urban and a literacy rate of 64.28%.
It is the largest district of Andhra Pradesh spanning an area of 19,130 square kilometres (7,390 sq mi), comparatively equivalent to Japan's Shikoku Island. It is bounded on the north by Kurnool District, on the east by Kadapa District, on the southeast by Chittoor District, and on the southwest and west by Karnataka state. It is part of Rayalaseema region on the state. Its northern and central portions are a high plateau, generally undulating, with large granite rocks or low hill ranges rising occasionally above its surface. In the southern portion of the district the surface is more hilly, the plateau there rising to 2,000 ft (610 m). above the sea. Six rivers flow within the district: Penna, Chithravathi, Vedavathi, Papagni, Swarnamukhi, and Thadakaleru. The district receives an average annual rainfall of 381 millimeters.
Anantapur city is 354 km from the state capital Hyderabad, 200 km from the neighboring state capital of Bangalore. Anantapur connects Hyderabad and Bangalore through National Highway-7. Bangalore International Airport is nearest international airport to Anantapur.sq meter</p><br>

<b>Economy:</b><br>
<p>The economy is principally agrarian with very few industries. With very little rainfall, the district is one of the most underdeveloped provinces in the state. Prominent crops include groundnut, sunflower, rice, cotton, maize, chillies, sesame, and sugarcane. Silk trade, limestone quarrying, iron and diamond mining constitute the few industries that are there.
  In 2006 the Indian government named Anantapur one of the country's 250 most backward districts (out of a total of 640).[6] It is one of the thirteen districts in Andhra Pradesh currently receiving funds from the Backward Regions Grant Fund Programme (BRGF).</p><br>

<b>Administration:</b><br>
<p>Divisions The District has been divided into three Revenue Divisions consisting of 63 Revenue Mandals (Anantapur Division 20, Dharmavaram Division 17 and Penukonda Division 26).
  Hindupur is the second biggest town and Mandal headquarters located in Anantapur district in Andhra Pradesh, India. Hindupur was given its name by a Maratha Chieftain called Murari Rao, who named this town after his father Hindoji Rao, or after a king named Hindurao. The Hindupur Parliamentary Constituency is also a Special grade 1 municipality. The border between Andhra Pradesh and Karnataka state passes through Hindupur and Gowribidanur taluk in Karnataka. And also it shares border with Madhugiri, Pavagada and Bagepalli.Its alomost surrounded by karnataka.</p><br>

<b>Geography:</b><br>
<p>Hindupur is located at 13.83?N 77.49?E on the banks of Penna River.[1] It has an average elevation of 2,037 feet (621 metres). It is situated at a distance of 108 km from Anantapur, the district headquarters, and 100 km from the city of Bangalore</p><br>

<b>Chittoor District:</b><br>

<p>About this sound pronunciation (help?info) also known as Chittur, is a district in Rayalaseema region of Andhra Pradesh, India. The district headquarters is Chittoor City. The district has a population of 4,170,468 according to 2011 census of India, nearly equal to the population of Liberia. Chittoor district is famous for the Tirupati, Kanipakam (TalaKona & Horsilly Hills) and Sri Kalahasti temples. It lies in the Poini river valley of southernmost Andhra Pradesh, on the NH4 Bangalore?Chennai highway. It is a major market center for mangoes, grains, sugarcane, and peanuts. Major industries around the city are Amaron Batteries, nation's leading automobile batteries, and Nutrine Confectioneries, a major chocolate/candies producer, and this city is one of the major granite and mango pulp producing centers of India.</p><br>

<b>History:</b><br>
<p>Chittoor District was formed on 1 April 1911, taking Chittoor, Palamaneru, Chandragiri from the then Nosq meterrth Arcot District of Tamil Nadu and Madanapalli, Vayalpadu from Cuddapah and Punganur, Sri Kalahasti, Karvetinagar from Zamindari provinces to form united Chittoor district.</p><br>

<b>Geography:</b><br>
<p>Districts of Andhra Pradesh<br>
<p>Chittoor is a part of Rayalaseema.[2] The district occupies an area of 15,359 square kilometres (5,930 sq mi),[3] comparatively equivalent to Svalbard's Nordaustlandet.[4] The district is bounded by Anantapur District to the northwest, Cuddapah District to the north, Nellore District to the northeast, Krishnagiri District, Vellore District and Tiruvallur District of Tamil Nadu state to the south, and Kolar District of Karnataka state to the west. Chittoor district lies extreme south of the Andhra Pradesh state approximately between 12?37' - 14?8' north latitudes and 78?3' - 79?55' east longitudes. Thirty percent of the total land area is covered by forests in the district. Mango and tamarind groves surround the city of Chittoor, and cattle are raised in the district. The soils in the district constitute red loamy 57%; red sandy 34% and the remaining 9% is covered by black clay black loamy, black sandy and red clay
  Chittoor is around 180KM from Bangalore, around 160KM from Chennai, and around 590KM from Hyderabad, state capital and around 1800KM from National capital Delhi.</p><br>

<b>Hydrology:</b><br>
<p>The important rivers in the district are Ponnai and Swarnamukhi rivers which originate in Eastern Ghats. Other rivers include Kusasthali, Beema, Bahuda, Pincha, Kalyani, Araniyar and Pedderu. None of the rivers are perennial. Main rivers include Swarnamukhi, Kalangi, Papaghni, Koundinya, Paleru, Arani, Pinchcha, Cheyyeru, Neeva and Kusasthali</p>

</div>