<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header" style="border: none;">
        <h1>About Us</h1>
      </div>
      
      <p align="justify">SVR Group is founded and driven by industry professionals who have decades of experience in Real Estate Industry. Their rich Experience is articulated with the singular objective of providing a superlative Customer Service. It is Incorporated in 2003.
Initially we were into Property developers and builders. Now we are also into Farm land business. We have successfully completed more than 30 projects in this field.
Our Mission : SVR Group is dedicated to provide all agricultural related services like soil test, farming assistance, labour etc., and clear legal documents for all land, believe in transparency. We will strive to implement a long term relationship with our customers, based on safety, quality, timely service and an anticipation of their needs by involving Skilled Manpower, Top of the line Quality processes and equipment.
Our Values : Quality, Reliability and Integrity..</p>
      
      <h3>Our Team:</h3>
      <p align="justify">Hosur Cattle Farm was started in 1824 by the British in an area of 1641.41 acres. The Tamil Nadu government maintains this green belt, along with a livestock research station focused on rare breeds of cattle, horse, poultry, sheep. A golf club is being planned by the district administration.
Central Sericultural Germplasm Resources Centre (CSGRC), Hosur:
The center was established in 1991 at hosur. It has a mandate to collect, protect and conserve mulberry and silkworm germplasm resources. This is also a National Repository Centre for mulberry germplasm and a National Active Germplasm Site (NAGS) for mulberry germplasm under NBPGR. Over 10 Scientists are engaged in collection and conservation activity. For exchange and dissection of information the center has developed on-line multiple query based Mulberry Germplasm Information System (MGIS) with retrieval facility.</p>
      
      <h5>S. Venkatesh Reddy – B.E.</h5>
<h5>Adhinarayana – B.Sc, M.Sc.</h5>
<h5>Chandrashekhar- B.E.</h5>
<h5>Naveen – B.Com com CA Final</h5>
<h5>Raghavendra – B. Com com, MBA</h5>
<h5>Srinivas – B.E.</h5>
<h5>Madhusudhan – B.E</h5>
      
    </div>
  </div>
</div>









