<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">


	<head>
    
    
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        
        <link rel="stylesheet" href="/assets/device.css"/>
        
        
		<title>SVR FARMS - TN-Cities</title>
        
        
           <script src="/assets/jquery.min.js"></script>
           <script src="includes/ice/ice.js" type="text/javascript"></script>
        <script>
	
	
			$(function() {
			
			
			 	var pull 		= $('#pull');
			 
			 
				var	menu 		= $('nav ul');
			

				$(pull).on('click', function(e) {
				
				
					e.preventDefault();
				
				
					menu.slideToggle();
				
				
				});


				$(window).resize(function(){
				
				
        			var w = $(window).width();
				
				
        			if(w > 320 && menu.is(':hidden')) {
					
					
        				menu.removeAttr('style');
					
					
        			}
				
				
    			});
			
			
			});
		
		
	       </script>
           
           
			<style>
			
			
                body{
					
                        background:url(/assets/mobbgh.jpg) no-repeat;
                      background-size:1200px 100%;
						
                        
                    }
					
					
            </style>
            
                
	</head>


<body>
    	
        	
		<div class="container">
        
        
			<nav class="clearfix">
    
    <a href="#" id="pull">SVR FARMS</a>
			  		<ul class="clearfix">
               					<li><a href="/home/main_home">Home</a></li>
                       
					<li><a href="/home/aboutus_mobile">About Us</a></li>
                       
					<li><a href="/home/services_mobile">Services</a></li>
                        
					<li><a href="/contactus/new">Contact Us</a></li>
     				</ul>
        
        
				
        
        
			</nav>
      
      
         <br />
         

         <h1>Choose a City to Explore</h1>   <br />
         
         
        <div class="city1">
        
        
              <a href="results.html">
                    
                    
                        <img src="/assets/img-city5.png"  />
                        
                        
              			<h2>Chennai</h2>
                        
                        
              </a>
                
                
        </div>
      
        <div class="city1">
        
        
              <a href="results.html">
              
              
                    <img src="/assets/img-city8.png"  />
                    
                    
                    <h2>Hosur</h2>
                    
                    
              </a>
              
              
        </div>


		 <div class="city1">
         
         
           <a href="results.html">
           
           
                <img src="/assets/img/denkanikottai.jpeg"/>
                
                
                <h2>Denkanikottai</h2>
                
                
           </a>
           
           
        </div>
        
        <div class="city1" >
        
        
            <a href="results.html">
            
            
                <img src="/assets/img/thally.jpg"/>
                
                
            	<h2>Thally</h2>
                
                
          </a>
             
             
        </div>
        
         <div class="city1">
         
         
             <a href="results.html">
             
             
                <img src="/assets/img/bagalur.jpg" />
                
                
            	 <h2>Begalur</h2>
                 
                 
             </a>
             
             
        </div>
        
        
         <div class="city1">
         
         
             <a href="results.html">
                          
                <img src="/assets/img/kela.jpeg"/>
                                
                  <h2>Kelamangalam</h2>
                  
                  
             </a>
             
             
        </div>
        
        
        <div class="city1" >
            <a href="results.html">
            
            
                <img  src="/assets/img/shoolagiri.jpg"/>
                
                
                  <h2>Shoolagiri</h2>
                  
                  
            </a>	
            
            
        </div>
       
        
   		
        
        <br />   <br />   <br />   <br />
        
        
         <div class="property-btn">
            
            
   		   <span style="padding:10px; color:#000;">We are adding 100's of Property a day</span>
                        
                        
                        <br />
                        
                        
                        <a href="/properties/new">
                        
                        
                        	<button>Post Your Requirement</button>
                            
                            
                        </a>
        		
                
          </div>
       
       
       <footer>
         <ol>
           <li><a href="/home/aboutus_mobile" title="ABOUT US">About Us</a> </li>
           <li><a href="/home/services_mobile">Services</a></li>
           <li><a href="home/contactus_mobile">Contact us</a> </li>
           <li><a href="">Privacy Policy</a> </li>

         </ol>
       </footer>
       
       
       <div class="copyright">
       
       
            Copyright 2014. All Rights Reserved.
            
            
       </div>
       
       
	</div>
    
    
 </body>


</html>
