<ul class="bxslider">
  <% @images.each do |image| %>
    <li><%= image_tag(image.image.url(:original), :height => "300", :width =>"500")  %></li>
  <% end %>
</ul>


<script src="/assets/jquery.bxslider.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.bxslider').bxSlider();
   
  });
</script>