<ul class="bxslider">
  <% @images.each do |image| %>
    <li><img src="<%= image.image.url(:original) %> " /></li>
  <% end %>
</ul>


<script src="/assets/jquery.bxslider.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('.bxslider').bxSlider();
  });
</script>