<div class="home-bnr">
  <div class="container">
    <div class="content-banner">
      <h1>Choose A City to Explore</h1>
    </div>
     <div class="box-city">
      <div class="row">
        <ul class="ch-grid">
          <% @cities = [["Mumbai","18.97","72.82"],["Hosur","12.73","77.83"],["Bangalore","12.97","77.59"],["Hyderabad","17.41","78.52"],["Chennai","13.060","80.24"],["Chittoor","13.21","79.100"],["Kanakapur","12.550","77.4170"],["Mysore","12.295","76.639"],["Coorg","12.300","75.9293"],["Chikmagalur","13.31","75.77"],["Anantapur","14.67","77.59"]] %>

          <% @cities.each_with_index do |name, index| %>
            <li class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
              <div class="ch-item">
                <div class="ch-info">
                  <div class="ch-info-front">
                    <h3><%= link_to name[0], land_home_index_path(:city => name[0], :lat => name[1], :lon => name[2]), :style => 'color: white;font-size: 15px;' %></h3>
                  </div>
                  <div class="ch-info-back ch-img-<%= index+1%>" onclick="javascript: location.href = <%= "'#{land_home_index_path(:city => name[0], :lat => name[1], :lon => name[2])}'" %>">

                  </div>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="clearF"></div>
      <p><a href="#" class="btn-login btn-more-cities">More Cities</a> <a href="#" class="btn-login btn-more-cities">Read More</a></p>
    </div>
  </div>
</div>
<article>
  <div class="container">
    <div class="box-welcome">
      <div>&nbsp;</div>
      <h1>Housing Experience</h1>
      <p>Living on campus at HBU is an integral part of your educational experience. Our on-campus housing provides living and learning environments with opportunities to grow spiritually, develop interpersonal skills, increase understanding of diverse cultures and learn self-discipline in organizing time for study, work and social activities.</p>
    </div>

  </div>
  <!-- <div class="row">
    <div class="box-media">/
      <h1>Our Media</h1>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%#=  image_tag("img-medialand_home_index_path(:city => name[0], :lat => name[1], :lon => name[2]).png", :alt => 'img-media.png')%> </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%#=  image_tag("img-media.png", :alt => 'img-media.png')%></div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%#=  image_tag("img-media.png", :alt => 'img-media.png')%> </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%#=  image_tag("img-media.png", :alt => 'img-media.png')%> </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%#=  image_tag("img-media.png", :alt => 'img-media.png')%> </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2"> <%# =  image_tag("img-media.png", :alt => 'img-media.png')%> </div>
    </div>
  </div> -->
  <div class="clearF"></div>
</div>
</article>

