<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="page-header" style="border: none;">
        <h2>To List your property please contact </h2>
      </div>

<h3 align="justify">Naveen Ratan</h3>


<h3 align="justify">Mobile: 9739475752</h3>

<h3 align="justify">Or you can write to us on naveenratan1@gmail.com with details and photos of the property.</h3>
</div>
</div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<style>
body
{
background: #E9E9E9;
}
</style>