<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="page-header" style="border: none;">
        <h1>Services</h1>
      </div>
 
      <p align="justify">This Privacy policy is subject to the terms of the Site Policy (User agreement) of www.svrfarms.com. This policy is effective from the date and time a user registers with www.svrfarms.com by filling up the Registration form and accepting the terms and conditions laid out in the Site Policy.</p>
      <p align="justify">In order to provide a spam free reliable and sq meter customized browsing experience, www.svrfarms.com may collect personal information from you. Additionally some of our websites may require you to complete a registration form or seek some information from you. When you let us have your preferences, we will be able to deliver or allow you to access the most relevant information that meets your end.</p>
      <p align="justify">To extend this personalized experience www.svrfarms.com may track the IP address of a user's computer and save certain information on your system in the form of cookies. A user has the option of accepting or declining the cookies of this website by changing the settings of your browser.<p>
      <p align="justify">The personal information provided by the users to www.svrfarms.com will not be provided to anyone in any conditions; it’s collected to provide you with supreme browsing experience.</p>
      <p align="justify">Since www.svrfarms.com is just a communication platform for users we will not ask you to register to create password. So please don’t disclose any private information on www.svrfarms.com. Just feel free to browse around listed properties and contact buyers and sellers for further communication. </p>
    </div>
  </div>
</div>
    