<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">


	<head>
    
    
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        
        <link rel="stylesheet" href="/assets/device.css"/>
        
        
		<title>SVR FARMS - Post Requirements</title>
        
        <script src="/assets/jquery.min.js"></script>
        
        
		<script>
	
	
			$(function() {
			
			
			 	var pull 		= $('#pull');
			 
			 
				var	menu 		= $('nav ul');
			

				$(pull).on('click', function(e) {
				
				
					e.preventDefault();
				
				
					menu.slideToggle();
				
				
				});


				$(window).resize(function(){
				
				
        			var w = $(window).width();
				
				
        			if(w > 320 && menu.is(':hidden')) {
					
					
        				menu.removeAttr('style');
					
					
        			}
				
				
    			});
			
			
			});
		
		
	</script>
    
    <style>
			
			
                body{
					
                        background:url(/assets/bgh.png) no-repeat;
						
						
                        background-size:1200px 100%;
						
                        
                    }
					
					
            </style>
	</head>

	<body>
    	
        	
		<div class="container">
        
        
			<nav class="clearfix">
    
    <a href="#" id="pull">SVR FARMS</a>
				<ul class="clearfix">
        
        
					<li><a href="/home/main_home">Home</a></li>
            
            
					<li><a href="/home/aboutus_mobile">About Us</a></li>
            
            
					<li><a href="/home/services_mobile">Services</a></li>
            
            
					<li><a href="/home/contactus_mobile">Contact Us</a></li>
            
                     
            
					<li><a href="/home/requirement_mobile">Post Requirement</a></li>	
           
            
				</ul>
        
        
				
        
        
			</nav>
        
        
     <h1>Post Your Requirements</h1>   
        
        <form>
        
        	<select id="property"  >
            
            	<option selected="selected"  disabled="disabled"  >select a requirement</option>
                <option  >AGRICULTURE LAND</option>
                <option >FARM LAND</option>
                <option >COMMERCIAL LAND</option>
                <option >INDUSTRIAL LAND</option>
                <option >RESIDENTIAL LAND</option>
                <option >BARREN LAND</option>
            
            </select>
            <br />
            <select>
         
            	<option selected="selected"  disabled="disabled" >select a state</option>
                <option >Andra Pradesh</option>
                <option >karnataka</option>
                <option >tamilnadu</option>
               
                
            </select>
             <br />
            
            <input type="text" placeholder="NAME" />
            <input type="text" placeholder="PHONE" />
            <input type="text"  placeholder="EMAIL" />  
            
            <textarea> Requirements</textarea>
            <button class="button-list">SUBMIT</button>
                      
        </form>
        
       <div class="property-btn">
            
                		<span style="padding:10px; color:#000;">We are adding 100's of Property a day</span>
                        <br />
                        <a href="list-property.html">
                        	<button>List your property</button>
                        </a>
        		
            </div>
             
        
        
        
        
        
        
        
        
        
        
        
        <footer>
               
          
                
  	<ol>
                    
                    
      	<li><a href="/home/aboutus_mobile" title="ABOUT US">About Us</a> </li>
                        
                        
                        <li><a href="/home/services_mobile">Services</a></li>
                        
                  
                         <li><a href="/home/contactus_mobile">Contact us</a> </li>
                        
                        
                         <li><a href="">Privacy Policy</a> </li>
                        
                        
                    </ol>
                
            
       </footer>
       <div class="copyright">
            Copyright 2014. All Rights Reserved.
       </div> 
        
</div>


</body>


</html>