<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">


	<head>
    
    
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        
        
        <link rel="stylesheet" href="/assets/device.css"/>
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"/>
        
        
		<title>SVR FARMS - Services</title>
        
        
           <script src="/assets/jquery.min.js"></script>
        
        
		<script>
	
	
			$(function() {
			
			
			 	var pull 		= $('#pull');
			 
			 
				var	menu 		= $('nav ul');
			

				$(pull).on('click', function(e) {
				
				
					e.preventDefault();
				
				
					menu.slideToggle();
				
				
				});


				$(window).resize(function(){
				
				
        			var w = $(window).width();
				
				
        			if(w > 320 && menu.is(':hidden')) {
					
					
        				menu.removeAttr('style');
					
					
        			}
				
				
    			});
			
			
			});
		
		
	</script>
    
    <style>
			
			
                body{
					
                        background:url(/assets/bgh.png) no-repeat;
						
						
                        background-size:1200px 100%;
						
                        
                    }
					
					
            </style>
	</head>

	<body>
    	
        	
		<div class="container">
        
        
			<nav class="clearfix">
    
                    				<ul class="clearfix">
        
        
					<li><a href="/home/main_home">Home</a></li>
            
            
					<li><a href="/home/aboutus_mobile">About Us</a></li>
            
            
					<li><a href="/home/services_mobile">Services</a></li>
            
            
					<li><a href="/home/contactus_mobile">Contact Us</a></li>
            
            
            
            
					<li><a href="/home/requirement_mobile">Post Requirement</a></li>	
           
            
				</ul>
        
        
				<a href="#" id="pull">SVR FARMS</a>
        
        
		</nav>
      	<div class="text-mobile">
                <h1>Services</h1>
               <h2> We provide services for:</h2>
               <p>
                    <ul>
                        <li>Agricultural Land</li>
                        <li>Farm Land</li>
                        <li>Commercial Land</li>
                        <li>Industrial Land</li>
                        <li>Residential Land</li>
                        <li>Barren Land</li>
                    
                    </ul>
                </p>
                <h2>Our Services Include:</h2>
                <p>
                    <ul>
                        
                        <li>Selection Of Properties According To Your Requirements And Arrangement Of Property Showings.</li>
                       <li> Advice On Pricing, Location, Current And Prospective Cash Flows And Future Rental/Capital Growth.</li>
                       <li> Providing Complete Legal Assistance Including Land Survey, Checking Documents and Family Tree.</li>
                       <li> We Can Help You With Fencing, Agriculture Labors etc.</li>
                        <li>Facilitating Bank Loans and Subsidies.</li>
                        <li>Agriculture Lab Service Like Soil Testing.</li>
                        <li>We Also Help You In Resale.</li>
                    </ul>
     			</p>
     
          </div>
      <hr />
        <div class="property-btn">
            
                
                            <span style="padding:10px;">Got a Property? list for Free</span>
                            
                            
                            <br />
                            
                            
                           <a href="/properties/new" class="property-select">
                            
                            
                                <button>List your Property</button>
                                
                                
                            </a>
                            
        		
            </div>
       
       
       		<footer>
            
            
              
          
                

                	<ol>
                    
                    
                    	<li><a href="/home/aboutus_mobile" title="ABOUT US">About Us</a> </li>
                        
                        
                        <li><a href="/home/services_mobile">Services</a></li>
                        
                        
                          <li><a href="/home/contactus_mobile">Contact us</a> </li>
                        
                        
                         <li><a href="">Privacy Policy</a> </li>
                     
                                         </ol>
                    	</footer>
            
            
            <div class="copyright">
            
           		 Copyright 2014. All Rights Reserved.
                 
                 
            </div>
	</div>
 </body>
</html>
