

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello </h1>
    <h4>Please check  details  you</h4>
    <p>
      Name : <%= @contactus.name %>
    </p>
    <p>      
      Email: <%= @contactus.email %>.<br/>
    </p>
    <p>
      message: <%= @contactus.message %>
    </p>
  </body>
</html>
