
<p>Dear Admin,</p>

<p><b> customer wants to Contact with you.</b></p>
<p>
  Contact Name:<%= @contactus.name %>
</p>
<p>
 Email: <%= @contactus.email %>
</p>
<p>
  Message: <%= @contactus.message %>
</p>
<p>
Subject: <%= @contactus.subject %>
</p>
<br/>
<p>Thanks</p>
<p>Team Svrfarms</p>


