  <div class="copyright">
    <div class="container"> 
      <div class="row"> 
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <p style="color: white;">&copy; Copyright 2014. All Right Reserved.</p>
        </div>
      </div>
      <div class="clearF"></div>  
    </div> 
  </div>