<header>
  <div class="topbar">     
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="glyphicon glyphicon-align-justify"></span></button>
    </div>
    <div class="navbar-collapse collapse">              
      <ul id="navigation">	
        <li><a href="/" title="HOME">Home</a></li>
        <li><a href="/home/about_us" title="ABOUT US">About us</a></li>
        <li><a href="/home/privacy_policy" title="SERVICES">Services</a></li>
        <li><a href="/home/help" title="Help">Help</a></li>
       <li><a href="/contactus/new" title="CONTACT US">Contact us</a></li>
      </ul>   
      <ul id="navigation">
        <% if current_user %>
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'btn-login' %></li>
        <% else %>
          <li><%= link_to "LOGIN", new_user_session_path,:class => 'btn-login' %></li>
          <li><%= link_to "SIGNUP", new_user_registration_path,:class =>'btn-login' %> </li>
        <% end %>
      </ul>  
    </div>                  
    <div class="clearF"></div>
  </div> 
</header>

































